.section-header
  .logo
    a(href = "index.html")
      img(src = "img/logo.png", alt = "logo")
  .navigation
    ul
      li
        a(href='index.html') Главная
          span Добро пожаловать
      li
        a(href='appartments.html') Аппартаменты
          span Выбор номера
      li
        a(href='contacts.html') Контакты
          span Напишите нам
      li.reservation-btn.custom-color-btn-back
        a(href='#') Бронирование
          span Забронировать номер
